body {
  background-color: #B8B8B8;
}

.header{
  font-family:fantasy;
}

.header{
    background-color: white;
    height: 100px;
    width: 100%;
    margin-top:10px;;

}

.container{
  width: 960px;
  height: auto;
  margin: 0 auto;
}


.navigaton{
  font-family: inherit;

}
https://www.youtube.com/watch?v=2R-qmsvtSaQ
